<div class="col-lg-3">
    
    <h1 class="my-4">
    <div class="list-group">
        <a href="#" class="list-group-item">Pizzas</a>
        <a href="#" class="list-group-item">Guisos</a>
        <a href="#" class="list-group-item">Minutas</a>
        <a href="#" class="list-group-item">Comida Oriental</a>
        <a href="#" class="list-group-item">Empandas</a>
        <a href="#" class="list-group-item">Bebidas</a>
        <a href="#" class="list-group-item">Postres</a>
    </div>

</div>
<!-- /.col-lg-3 -->